  </div>
  <footer>
    Copyright: <span id="year"><span style="background-color:red;">NO JS!</span></span>
  </footer>
  <script src="global.js"></script>
  <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register("/sw.js")
    }
  </script>
</body>
</html>
