<!doctype html>
<html lang="en">
<head>
  <title><%- title %></title>
  <link rel="stylesheet" href="global.css">
</head>
<body>
  <header>
    <span class="brand">My fast site</span>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
  </header>
  <div id="content">
